
{% extends 'base.html' %}


{% block content %}

    <h1>Hello there!</h1>
    <p1>This is my SI364 Midterm web application.  It allows students to enter in their basic profile information, then asks them for two courses for them to rate and comment on.
    This app then makes a REST API call to determine the sentiment (pos/neg) of each comment!  I also add in the ability to list all the unique majors and their average rating score, as well as the ability to return results for one specific student id.</p>
{% endblock %}

